<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - ☺</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Css/ball.css")
    @Styles.Render("~/Css/Default.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/ball.js")
    @Scripts.Render("~/Scripts/lightpoint.js")
    
    @RenderSection("Scripts", required: false)


</head>
<body>
    <canvas id="dotcanvas" style="position:fixed;opacity:0.5;pointer-events:none"></canvas>
    <div id="bodycontainer" class="container  body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 不朽的代码诗</p>
        </footer>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                &nbsp; &nbsp; &nbsp;
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    <li>@Html.ActionLink("中考倒计时", "Daojishi", "Home")</li>
                    <li>@Html.ActionLink("助手", "Index", "Helper")</li>
                    <li>@Html.ActionLink("暗号", "Index", "ChatRoom")</li>
                    <li>
                        <a href="~/Static/LoveTree/index.html">Tree</a>
                    </li>
                    @*<li>@Html.ActionLink("鸟", "Bird", "Home")</li>*@
                    @*<li>@Html.ActionLink("电影资源", "Bird", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    @*禁用.*@



    @*@{
           if (!Session.)
           {

           }

        }*@


    <div id="domover" style="visibility:hidden">

        <div id="divcircle" class="divcircle"></div>

        <div class="divback"> </div>


        <div id="divCircleContent">Z</div>
        <div id="divzhezhao"></div>

    </div>

    <div id="bg"> </div>

</body>
</html>
